body{
  background-color: #253B3A; 
  
}
h1{
  color: #649D9F;
}
.div{
  
   width:500px;
    height:400px;
    margin-left: 500px; 
    left:100px;
}

#r{
  text-align: center;
  }
h3{
  text-align: center;
}
}
#t{
  text-align: right;
}
.t{
  width: 1px;
}
input[type=text]{
  
  background-color:#0e1609;
  color: white;
  border:#2a5e04;
}
input[type=password]{
  background-color:#0e1609;
  color: white;
  border:#2a5e04;
}
input[type=submit]{
  background-color:#0e1609;
  color: white;
  border:#2a5e04;
}
input[type=submit]:hover{
        color: white;
        -webkit-box-shadow: 2px 2px 5px #999;
  -moz-box-shadow: 2px 2px 5px #999;
  filter: shadow(color=#999999, direction=135, strength=2);
    -webkit-transform:rotate(-3deg);
       -moz-transform:rotate(-3deg);
      -ms-transform:rotate(-3deg);
       -o-transform:rotate(-3deg);
        transform:rotate(-3deg);


      }

#w{
  border: double 1px;
}
#q{
  text-align: right;
  color: #649D9F;
}
.q{
  width: auto;
  height: auto;
}
td{
width: auto;
  height: auto; 
}
.w{
  width: 95px;
}
.s{
  text-align:center;
}
@media only screen and(max-width: 900px) {
  body{
    background-image: url(/tallerr/public/img/orig.jpg);
    background-size: 900px 9000px;
  }
}
img.pequeña{
  width: 20px; height: 20px;
}
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
@charset "UTF-8";
/* Base Styles */
#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  position: relative;
}
#cssmenu a {
  line-height: 1.3;
}
#cssmenu {
  width: 250px;
}
#cssmenu > ul > li > a {
  padding-right: 40px;
  font-size: 25px;
  font-weight: bold;
  display: block;
  background: #1B222E;
  color: #ffffff;
  border-bottom: 1px solid #1B222E;
  text-transform: uppercase;
}
#cssmenu > ul > li > a > span {
  background: #3E506B;
  padding: 10px;
  display: block;
  font-size: 13px;
  font-weight: 300;
}
#cssmenu > ul > li > a:hover {
  text-decoration: none;
}
#cssmenu > ul > li.active {
  border-bottom: none;
}
#cssmenu > ul > li.active > a {
  color: #fff;
}
#cssmenu > ul > li.active > a span {
  background: #1B222E;
}
#cssmenu span.cnt {
  position: absolute;
  top: 8px;
  right: 15px;
  padding: 0;
  margin: 0;
  background: none;
}
/* Sub menu */
#cssmenu ul ul {
  display: none;
}
#cssmenu ul ul li {
  border: 1px solid #1B222E;
  border-top: 0;
}
#cssmenu ul ul a {
  padding: 10px;
  display: block;
  color: #649D9F;
  font-size: 13px;
}
#cssmenu ul ul a:hover {
  color: #B4BFBC;
}
#cssmenu ul ul li.odd {
  background-color: #1D2E2D;
}
#cssmenu ul ul li.even {
 
}

