	a{
      text-decoration: none;
     
    }
    .r{
   
  text-shadow: green 2px 2px 3px;
      color:white;
      font-family:sans-serif;
	font-style: oblique;	
    }
.icon-reply{
		color:#968787;
    font-size: 50px;
}
.icon-reply:hover{
		color:orange;
	 	 transition-duration:5s;
	 font-size: 10px;
}
button{
	background-color: #9aff98;
	font-family:sans-serif;
	font-style: oblique;
}
button:hover{
	color: orange;
				-webkit-box-shadow: 2px 2px 5px #999;
  -moz-box-shadow: 2px 2px 5px #999;
  filter: shadow(color=#999999, direction=135, strength=2);
		-webkit-transform:rotate(-3deg);
		   -moz-transform:rotate(-3deg);
			-ms-transform:rotate(-3deg);
			 -o-transform:rotate(-3deg);
				transform:rotate(-3deg);

}
select{
	background-color:#B4BFBC;
	border-color: black;
	text-shadow: green 2px 2px 3px;
      color:black;
      font-family:sans-serif;
	font-style: oblique;
}
