<link href="/tallerr/public/style/style.css" rel="stylesheet">
<link href="/tallerr/public/uno/siete.css" rel="stylesheet">
<link href="/tallerr/public/uno/ocho.css" rel="stylesheet">
   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
   

	<div id='cssmenu'>
	<ul>
    
	   <li class='active'><a href='#'><span>Home</span></a></li>
	   #foreach($reg in $xlistamenu)
		   <li class='has-sub'><a href='#'><span>${reg.nombre}</span></a>
			    <ul>
			    #foreach($sub in $xlistasubmenu)
			    	#if (${reg.idmenu}==${sub.idmenu})
				         <li><a href='${sub.nombre}'><span>${sub.nombre}</span></a></li>
				    #end  
				#end
				</ul>      
		   </li>
	    #end   
	</ul>
	</div>
	<script type="text/javascript">
	( function( $ ) {
$( document ).ready(function() {
$(document).ready(function(){

$('#cssmenu > ul > li ul').each(function(index, e){
  var count = $(e).find('li').length;
  var content = '<span class=\"cnt\">' + count + '</span>';
  $(e).closest('li').children('a').append(content);
});
$('#cssmenu ul ul li:odd').addClass('odd');
$('#cssmenu ul ul li:even').addClass('even');
$('#cssmenu > ul > li > a').click(function() {
  $('#cssmenu li').removeClass('active');
  $(this).closest('li').addClass('active');	
  var checkElement = $(this).next();
  if((checkElement.is('ul')) && (checkElement.is(':visible'))) {
    $(this).closest('li').removeClass('active');
    checkElement.slideUp('normal');
  }
  if((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
    $('#cssmenu ul ul:visible').slideUp('normal');
    checkElement.slideDown('normal');
  }
  if($(this).closest('li').find('ul').children().length == 0) {
    return true;
  } else {
    return false;	
  }		
});

});

});
} )( jQuery );
</script>
